<h3>Create New Appointment</h3>

<% if flash[:alert] %>
<h2 class="notice"><%= flash[:alert] %></h2>
<% end %>

<% if @appointment.errors.any? %>
  <ul>
    <% @appointment.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @appointment, html: { id: id='create-appointment-form' } do |f| %>
    Service : <%= f.text_field :service_id %><br />
    Date : <%= f.text_field :date %><br />
    Hour : <%= f.text_field :hour %><br />
    <%= f.submit %>
<% end %>
