<head>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
</head>

  <h3>Create New Appointment</h3>

  <% if flash[:alert] %>
  <h2 class="notice"><%= flash[:alert] %></h2>
  <% end %>

  <% if @appointment.errors.any? %>
    <ul>
      <% @appointment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <%= form_for @appointment, html: { id: id='create-appointment-form' } do |f| %>
    Service : <%= f.select :service_id, options_for_select(@service_names) %><br />
    Date : <%= f.text_field :date, id: 'datepicker' %><br />
    Hour : <%= f.text_field :hour %><br />
    <%= submit_tag "Create Appointment", :id => 'submit_form', :style => "display: none;" %>
  <% end %><br>

  <%= render "hour_picker" %>

<%= link_to('Home', root_path) %>
