<h3>Create New Account</h3>

<% if flash[:alert] %>
<h2 class="notice"><%= flash[:alert] %></h2>
<% end %>

<% if @account.errors.any? %>
  <ul>
    <% @account.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @account, html: { id: id='create-account-form' } do |f| %>
<p>First Name: <%= f.text_field :fname %></p>
<p>Last Name: <%= f.text_field :lname %></p>
<p>Birthday: <%= f.text_field :birthdate %></p>
<p>Email: <%= f.text_field :email %></p>
<p>Phone: <%= f.text_field :phone %></p>
<p>Address: <%= f.text_field :address %></p>
<p>Password: <%= f.password_field :password %></p>
<p>Memo: <%= f.text_area :memo %></p>
    <%= f.submit %>
<% end %><br>

<%= link_to('Home', root_path) %>
