<div class="center-block col-lg-6">
  <h3>Create New Account</h3>

  <% if flash[:alert] %>
  <h2 class="notice"><%= flash[:alert] %></h2>
  <% end %>

  <% if @account.errors.any? %>
    <ul>
      <% @account.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
    <%= simple_form_for @account, html: { class: 'form-horizontal', id: 'create-account-form' } do |f| %>
      <%= f.input :fname, label: 'First Name' %>
      <%= f.input :lname, label: 'Last Name' %>
      <%= f.input :email %>
      <%= f.input :password %>
      <%= f.input :birthdate, label: 'Birth Day' %>
      <%= f.input :phone %>
      <%= f.input :address %>
      <%= f.input :memo %>
      <%= f.submit %>
    <% end %><br>

  <%= link_to('Home', root_path) %>
</div>


